{{ form_row(form.type) }}

<div class="form-group">
    {{ form_label(form.deckCode) }}
    <div class="input-group">
        {{ form_widget(form.deckCode) }}
        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-clone"></i>
                            </span>
        </div>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.playedAt) }}
    <div class="input-group">
        {{ form_widget(form.playedAt) }}
        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
        </div>
    </div>
</div>

{{ form_errors(form) }}

<script type="application/javascript">
    $(document).ready(function () {
        $('input[name="gauntlet[playedAt]"]').datetimepicker({
            locale: '{{ app.request.locale }}',
            format: "YYYY-MM-DD HH:MM"
        });
    })
</script>