{% extends 'dashboard/index.html.twig' %}

{% block title %}{% endblock %}

{% block dashboard_body %}
    <div class="row card">
        <div class="card-header">
            <h2>
                {{ 'label.gauntlet'|trans }} #{{ gauntlet.number }} | {{ gauntlet.type.name }}

                {{ gauntletStatusBadge(gauntlet.status) }}
                <div class="float-right" role="group">
                    {% if gauntlet.status == constant('App\\Entity\\Gauntlet::STATUS_CURRENT') and gauntlet.possibleToAddGame == true %}
                        <button type="button" class="btn btn-secondary" id="btn-concede-gauntlet">
                            {{ 'btn.concede_gauntlet'|trans }}
                        </button>
                    {% endif %}

                    {% if gauntlet.lock == false %}
                        <button type="button" class="btn btn-secondary" id="btn-edit-gauntlet">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" id="btn-delete-gauntlet">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% endif %}

                    {% if gauntlet.lock %}
                        <button type="button" class="btn btn-primary" id="btn-unlock-gauntlet">
                            <i class="fas fa-lock"></i>
                        </button>
                    {% elseif gauntlet.possibleToAddGame == false %}
                        <button type="button" class="btn btn-primary" id="btn-lock-gauntlet">
                            <i class="fas fa-unlock"></i>
                        </button>
                    {% endif %}
                </div>
            </h2>
            <small class="text-center ml-4">{{ 'label.gauntlet_played_at'|trans }} {{ gauntlet.playedAt|localizeddate('short', 'short', app.request.locale) }}</small>
        </div>
        <div class="card-body row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        {{ 'label.your_deck'|trans }} : {{ gauntlet.deck.name }}
                        <a href="{{ gauntlet.deck.code }}" class="float-right" target="_blank"><i
                                    class="fas fa-external-link-alt"></i></a>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for deckCard in gauntlet.deck.deckCards %}
                                <li class="list-group-item">
                                    {{ deckCard.card.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        {{ 'label.your_games'|trans }}
                        {% if gauntlet.lock == false %}
                            <button type="button"
                                    class="btn btn-primary float-right {% if gauntlet.games|length >= 6 %}disabled{% endif %}"
                                    id="btn-add-game">
                                <span class="ladda-label"><i class="fas fa-plus"></i> {{ 'btn.add_game'|trans }}</span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="card-body">

                        <ul class="list-group">
                            {% for game in gauntlet.games %}
                                <li class="list-group-item">
                                    <span>
                                        {{ 'label.game'|trans }} #{{ game.number }}
                                        {% if game.status == constant('App\\Entity\\Game::STATUS_WIN') %}
                                            <span class="badge badge-success">{{ 'label.game_win'|trans }}</span>
                                        {% elseif game.status == constant('App\\Entity\\Game::STATUS_LOSE') %}
                                            <span class="badge badge-danger">{{ 'label.game_lose'|trans }}</span>
                                        {% elseif game.status == constant('App\\Entity\\Game::STATUS_DRAW') %}
                                            <span class="badge badge-secondary">{{ 'label.game_draw'|trans }}</span>
                                        {% endif %}
                                    </span>
                                    <small class="text-center ml-4">{{ 'label.game_played_at'|trans }} {{ game.playedAt|localizeddate('short', 'short', app.request.locale) }}</small>

                                    <div class="btn-group float-right" role="group">
                                        {% if game.opposingDeck is not null %}
                                            <a class=" btn btn-secondary" href="{{ game.opposingDeck.code }}"
                                               target="_blank"><i
                                                        class="fas fa-external-link-alt"></i></a>
                                        {% endif %}
                                        {% if gauntlet.lock == false %}
                                            <button type="button" class="btn btn-secondary btn-edit-game"
                                                    data-game-id="{{ game.id }}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-delete-game"
                                                    data-game-id="{{ game.id }}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        {% endif %}
                                    </div>


                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="gauntlet" data-gauntlet-id="{{ gauntlet.id }}"></div>
{% endblock %}

{% block dashboard_javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#btn-add-game').click(showAddGame)
            $('.btn-edit-game').click(showEditGame)
            $('.btn-delete-game').click(showDeleteGame)
            $('#btn-unlock-gauntlet').click(unlockGauntlet)
            $('#btn-lock-gauntlet').click(lockGauntlet)
            $('#btn-concede-gauntlet').click(concedeGauntlet)
            $('#btn-edit-gauntlet').click(showEditGauntlet)
            $('#btn-delete-gauntlet').click(showDeleteGauntlet)
        })
    </script>
{% endblock %}