{% extends 'dashboard/index.html.twig' %}

{% block title %}{% endblock %}

{% block dashboard_body %}

    <div class="card">
        <div class="card-body">
            <table id="list-gauntlet-history" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Score</th>
                    <th></th>
                </tr>
                </thead>
                {#<tbody>#}
                {#{% for gauntlet in gauntlets %}#}
                    {#<tr>#}
                        {#<td>{{ gauntlet.id }}</td>#}
                        {#<td>{{ gauntlet.created|localizeddate('short', 'short', app.request.locale) }}</td>#}
                        {#<td>{{ gauntlet.type.name }}</td>#}
                        {#<td class="text-center"><h3>{{ gauntletStatusBadge(gauntlet.status) }}</h3></td>#}
                        {#<td class="text-center">#}
                            {#<a href="{{ path('app_gauntlet_show', {id: gauntlet.id}) }}" class="btn btn-primary">#}
                                {#<i class="far fa-file-alt mr-2"></i>#}
                                {#{{ 'btn.show'|trans }}#}
                            {#</a>#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
            </table>
        </div>
    </div>

{% endblock %}

{% block dashboard_javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {

            $('#list-gauntlet-history').DataTable({
                ajax: Routing.generate('app_gauntlet_list'),
                processing: true,
                serverSide: true,
                order: [
                    [1, 'desc']
                ],
                columns: [
                    { data: 'number'},
                    { data: 'playedAt'},
                    { data: 'type'},
                    {
                        data: 'status',
                        render: function(data, type, row) {
                            let cssClass;
                            let label;
                            if (data ==  '{{ constant('App\\Entity\\Gauntlet::STATUS_CURRENT') }}') {
                                cssClass = 'warning'
                                label = '{{ 'label.gauntlet_current'|trans }}';
                            } else {
                                if (row.countGamesWon == 5) {
                                    label = '{{ 'label.gauntlet_win'|trans }}'
                                    cssClass = 'success'
                                } else {
                                    label = '{{ 'label.gauntlet_lose'|trans }}'
                                    cssClass = 'danger'
                                }
                            }

                            return `<h2 class="badge badge-${cssClass}">${label}</h2>`
                        },
                        className: 'text-center'
                    },
                    {
                        data: 'score',
                        className: 'text-center',
                        orderable: false,
                        render: function(value, type, row) {
                            return `<span class="text-success">${row.countGamesWon}</span> - <span class="text-danger">${row.countGamesLost}</span>`
                        }
                    },
                    {
                        data: 'actions',
                        render: function (data, type, row) {
                            const url = Routing.generate('app_gauntlet_show', {id: row.id})
                            return `<a href="${url}" class="btn btn-primary">
                            <i class="far fa-file-alt mr-2"></i>
                            ${data}
                            </a>`
                        },
                        className: 'text-right',
                        orderable: false
                    }
                ],
                language: {
                    url: "/datatable/i18n/{{ app.request.locale }}.json"
                },
                searching: false
            })
        })
    </script>
{% endblock %}