<div class="modal fade" id="modal-edit-game" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'title.edit_game'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'game/form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $('form[name="game"]').submit(editGame)
    })
</script>
