{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row my-2 mx-2">
        <div class="col-md-2">
            {{ render(controller('App\\Controller\\DashboardController::menu')) }}
        </div>
        <div class="col-md-10">
            {% block dashboard_body %}
                <div class="navbar">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <div class="btn-group" role="group">
                        <button id="btn-today-stats" type="button" class="btn btn-secondary active">{{ 'label.today'|trans }}</button>
                        <button id="btn-week-stats" type="button" class="btn btn-secondary">{{ 'label.this_week'|trans }}</button>
                        <button id="btn-month-stats" type="button" class="btn btn-secondary">{{ 'label.this_month'|trans }}</button>
                        <button id="btn-show-custom-stats" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            {{ 'label.custom_dates'|trans }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="txtStartDate">Date début</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtStartDate">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtEndDate">Date fin</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtEndDate">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <button id="btn-custom-date" type="button" class="btn btn-primary">{{ 'btn.submit'|trans }}</button>
                            </form>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="dashboard-content">
                    {{ include('dashboard/stats.html.twig') }}

                    {#<div class="row">#}
                    {#<h3>Vue d'ensemble</h3>#}
                    {#<canvas id="myChart"></canvas>#}
                    {#</div>#}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#btn-show-add-gauntlet').click(showAddGauntlet)

            // On affiche avec Notify, les flash messages
            {% for label, messages in app.flashes %}
            {% for message in messages %}
            Utils.notify({
                type: '{{ label }}',
                message: '{{ message }}'
            });
            {% endfor %}
            {% endfor %}

            $('#txtStartDate').datetimepicker({
                locale: '{{ app.request.locale }}',
                format: "YYYY-MM-DD"
            });

            $('#txtEndDate').datetimepicker({
                locale: '{{ app.request.locale }}',
                format: "YYYY-MM-DD"
            });

            $('#btn-today-stats').click(showTodayStats)
            $('#btn-week-stats').click(showWeekStats)
            $('#btn-month-stats').click(showMonthStats)
            $('#btn-custom-date').click(showCustomDatesStats)

            // var ctx = document.getElementById("myChart");
            // var myChart = new Chart(ctx, {
            //     type: 'bar',
            //     data: {
            //         labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            //         datasets: [{
            //             label: '# of Votes',
            //             data: [12, 19, 3, 5, 2, 3],
            //             backgroundColor: [
            //                 'rgba(255, 99, 132, 0.2)',
            //                 'rgba(54, 162, 235, 0.2)',
            //                 'rgba(255, 206, 86, 0.2)',
            //                 'rgba(75, 192, 192, 0.2)',
            //                 'rgba(153, 102, 255, 0.2)',
            //                 'rgba(255, 159, 64, 0.2)'
            //             ],
            //             borderColor: [
            //                 'rgba(255,99,132,1)',
            //                 'rgba(54, 162, 235, 1)',
            //                 'rgba(255, 206, 86, 1)',
            //                 'rgba(75, 192, 192, 1)',
            //                 'rgba(153, 102, 255, 1)',
            //                 'rgba(255, 159, 64, 1)'
            //             ],
            //             borderWidth: 1
            //         }]
            //     },
            //     options: {
            //         scales: {
            //             yAxes: [{
            //                 ticks: {
            //                     beginAtZero: true
            //                 }
            //             }]
            //         }
            //     }
            // });
        })
    </script>

    {% block dashboard_javascripts %}{% endblock %}
{% endblock %}