<div class="list-group">
    {% if currentGauntlet is null %}
        <a href="#" id="btn-show-add-gauntlet" class="list-group-item list-group-item-action list-group-item-success">
            <span class="ladda-label"><i class="fas fa-plus mr-2"></i> {{ 'btn.add_gauntlet'|trans }}</span>
        </a>
    {% else %}
        <a href="{{ path('app_gauntlet_show', {id: currentGauntlet.id}) }}" class="list-group-item list-group-item-warning">
            <i class="fas fa-exclamation mx-2"></i>
            {{ 'menu.dashboard.gauntlet_show_current'|trans }}
        </a>
    {% endif %}
    <a href="{{ path('app_gauntlet_show_history') }}" class="list-group-item list-group-item-action">{{ 'menu.dashboard.gauntlet_history'|trans }}</a>
</div>